<mat-nav-list>
    <mat-list-item *ngFor="let list of poemList; let i =index">
        <a matLine (click)="nextPage(list)"><span class="list-header">Title:</span> {{ list.title }}
            <p matLine>
                <span class="list-header">Author:</span>
                <span> {{list.author}} </span>
            </p>
        </a>
        <button mat-icon-button *ngIf="!list.favorite" (click)="setFavourites(i)">
            <mat-icon>favorite_border</mat-icon>
        </button>
        <button mat-icon-button *ngIf="list.favorite" (click)="removeFavourite(i)">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-list-item>
</mat-nav-list>