<header>
  <h1>Poems</h1>
</header>
<div class="button-align" *ngIf="showFetch">
  <button mat-raised-button color="primary" (click)="fetchPoems()">Fetch poems</button>
</div>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<router-outlet *ngIf="!showFetch"></router-outlet>