header {
    background-color: #3f51b5;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    vertical-align: bottom;
}
h1 {
    margin: 0;
}
.button-align {
    height: calc(80vh);
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-progress-spinner {
    margin: auto;
    top: 40%;
}
