$deep-blue: #3f51b5;
.mat-card {
    padding: 24px;
    .mat-card-title {
        span {
            color: $deep-blue;
        }
    }
    .mat-card-subtitle {
        font-size: 18px;
        margin-top: 16px;
        color: $deep-blue;
    }
}
h3 {
    font-weight: bold;
}
.poem-outer-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.poem-inner-box {
    background-color: aliceblue;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 24px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.mat-raised-button {
    width: 210px;
}
.flex-button {
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
}
.mat-icon {
    color: red;
}
