<mat-card>
    <mat-card-title><span>Title:</span> {{ selectedPoem.title }}</mat-card-title>
    <mat-card-subtitle><span>Author:</span> {{ selectedPoem.author }}</mat-card-subtitle>
    <div class="flex-button">
        <h3 matLine>Poem:</h3>
        <button mat-raised-button color="primary" *ngIf="!selectedPoem.favorite" (click)="setFavourite()">
            <mat-icon>favorite_border</mat-icon> Add to Favorites
        </button>
        <button mat-raised-button color="primary" *ngIf="selectedPoem.favorite" (click)="removeFavourite()">
            <mat-icon>favorite</mat-icon> Remove from Favorites
        </button>
    </div>
    <div class="poem-outer-box">
        <div class="poem-inner-box">
            <mat-list-item *ngFor="let list of selectedPoem['lines']; let i =index">
                <p matLine> {{list}} </p>
            </mat-list-item>
        </div>
    </div>
</mat-card>